.pix{
  background: #ECF0EF;
  padding:120px 0;
  position: fixed;
}
.pix1{
  border-bottom: solid 1px #717674;
}
.pix img{
  height:100px;
  margin-top: -180px;
}
.order ul{
  list-style: none;
  padding:20px;
}
.order ul li{
  padding:20px;
}
.order ul li a:link, .order ul li a:visited{
  text-decoration: none;
  color:#717674;
}
.order ul li a:hover{
  color:#76E6CB
}
.pro{
  margin-bottom: 50px;
}
.xyz{
  width:200px;
  height:200px;
}
.category{
  margin-top: 50px;
}
label{
  padding:15px;
}
.category{
  padding:10px;
}
.add{
  position: fixed;  
}
.free{
  text-align: center;
  background: #FFE7EA;
}
.free ul{
  list-style: none;
}
.fre ul li{
  float: left;
  padding:15px;
}
.our ul li{
  float: right;
  padding:15px;
}
.our ul li a:link, .our ul li a:visited{
  text-decoration: none;
  color: black;
}
.snap{
  padding:20px;
}
.bar{
  width:500px;
}
.snap ul{
  list-style: none;
}
.snap ul li{
  float: right;
  padding:10px;
}
.snap ul li a:link, .snap ul li a:visited{
  text-decoration: none;
  color: black;
}