.pix{
  background: #ECF0EF;
  padding:120px 0;
  position: fixed;
}
.pix1{
  border-bottom: solid 1px #717674;
}
.pix img{
  height:100px;
  margin-top: -180px;
}
.order ul{
  list-style: none;
  padding:20px;
}
.order ul li{
  padding:20px;
}
.order ul li a:link, .order ul li a:visited{
  text-decoration: none;
  color:#717674;
}
.order ul li a:hover{
  color:#76E6CB
}
.pro{
  margin-bottom: 100px;
}
.xyz{
  width:200px;
  height:200px;
}
.category{
  margin-top: 50px;
}
label{
  padding:30px;
}

