.pix {
  background: #ECF0EF;
  padding: 120px 0;
  position: fixed;
}

.pix1 {
  border-bottom: solid 1px #717674;
}

.pix img {
  height: 100px;
  margin-top: -180px;
}

.order ul {
  list-style: none;
  padding: 20px;
}

.order ul li {
  padding: 20px;
}

.order ul li a:link,
.order ul li a:visited {
  text-decoration: none;
  color: #717674;
}

.order ul li a:hover {
  color: #76E6CB
}

.pro {
  margin-bottom: 50px;
}

.xyz {
  width: 200px;
  height: 200px;
}

.category {
  margin-top: 50px;
}

label {
  padding: 15px;
}

.category {
  padding: 10px;
}

.add {
  position: fixed;
}

.free {
  text-align: center;
  background: #FFE7EA;
}

.free ul {
  list-style: none;
}

.fre ul li {
  float: left;
  padding: 15px;
}

.our ul li {
  float: right;
  padding: 10px;
}

.our ul li a:link,
.our ul li a:visited {
  text-decoration: none;
  color: black;
}

.snap {
  padding: 20px;
}

.bar {
  width: 500px;
}

.snap ul {
  list-style: none;
  padding: 0;
}

.snap ul li {
  float: right;

}

.snap ul li a:link,
.snap ul li a:visited {
  text-decoration: none;
  padding: 15px;
  color: black;
  display: block;
}
.snap1 ul li ul{
  /* padding:20px; */
  background-color: #FF2341;
  display: none;
  z-index: 1000;
}
.snap1 ul li:hover ul{
  display: block;
  position: absolute;
}
.snap1 ul li:hover ul li{
  float: none;
}
.app {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  transition: 0.3s ease;
}
.app:hover{
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.del{
  background:linear-gradient(45deg, #ff416c, #ff4b2b);
}
.cate{
  text-align: center;
}
.cate ul{
  list-style: none;
  padding: 0;
}
.cate ul li{
  float: left;
  padding:10px;
}
.cate ul li a:link, .cate ul li a:visited{
  text-decoration: none;
  color: black;
}
.cate img{
  width:40px;
  height:40px;
}
.delivery{
  padding:20px;
  text-align: center;
}
.delivery img{
  width:100%;
  height: 80px;
  border-radius: 10px;
}