.pix{
  background: #ECF0EF;
  padding:120px 0;
}
.pix1{
  border-bottom: solid 1px #717674;
}
.pix img{
  height:100px;
  margin-top: -180px;
}
.order ul{
  list-style: none;
  padding:20px;
}
.order ul li{
  padding:10px;
}
.order ul li a:link, .order ul li a:visited{
  text-decoration: none;
  color:#717674;
}
.order ul li a:hover{
  color:#76E6CB
}
